/*
Colors used:
Primary Color (White): #f1f3f3;
Secondary Color (Black): #141616;
*/

* {
  box-sizing: border-box;
}

body {
  background-color: #141616;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #f1f3f3;
}

header {
  background-color: #141616;
  text-align: center;
  padding: 10px;
  box-shadow: 0px 2px 15px 5px rgba(0,0,0,0.5);
  position: fixed;
  display: inline-block;
  width: 100%;
}

main {
  padding-top: 131px;
}

h1 {
  font-size: 2.75em;
  line-height: 1.2;
  font-weight: 700;
}

h2 {
  font-size: 1.75em;
  font-weight: 700;
}

h2::before {
content: "";
clear: both;
display: table;
}

h3 {
  font-size: 1.25em;
  font-weight: 700;
}

img {
  width: 100%;
}

a,
a:visited {
  color: #f1f3f3;
  font-weight: 500;
}

a:focus,
a:hover {
  color: #f1f3f380;
}

a:active {
  color: #f1f3f360;
}

.button {
  display: inline-block;
  background-color: #f1f3f3;
  color: #141616!important;
  font-weight: 300;
  padding: 10px 20px;
  border-radius: 30px;
  text-decoration: none;
  text-transform: uppercase;
}

.button:focus,
.button:hover {
  background-color: #f1f3f380;
}

.button:active {
  background-color: #f1f3f380;
}

.button.contact,
.button.contact:visited {
  background-color: #f1f3f3;
  color: #141616;
  font-size: 0.8em;
  padding: 5px 10px;
}

.button.contact:focus,
.button.contact:hover {
  background-color: #f1f3f380;
  color: #14161680;
}

.button.contact:active {
  background-color: #f1f3f380;
  color: #14161680;
}

/* Layout styling */

.logo {
  max-width: 75px;
}

.container {
  padding: 0 15px;
}

.row {
  padding: 25px 0;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#hero h1 {
  margin: 0px;
  padding: 0.67em 0;
}

#hero span {
  display: block;
}

#hero {
  text-align: center;
  background-color: #141616;
}

nav {
  display: inline-block;
  width: 100%;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 10px;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
}

nav > ul > li > a:visited,
nav > ul > li > a:focus,
nav > ul > li > a:hover {
  text-decoration: underline;
}

nav > ul > li > a:active {
  color: #f1f3f380;
}

.social {
  padding-left: 0;
}

.social li {
  display: inline-block;
  list-style-type: none;
  padding-right: 10px;
  font-size: 30px;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {

  header {
    text-align: unset;
    padding: 20px 0 0;
  }

  nav {
    width: auto;
    float: right;
    margin: 10px 0 0;
  }

  .col-md-6 {
    width: 50%;
    float: left;
    padding-right: 12px;
  }

  .col-md-6-text {
    width: 50%;
    float: right;
    padding-left: 12px;
  }

  .pro-title {
    margin-top: 0px;
  }

}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {

  .col-lg-7 {
    width: 58%;
  }

  .col-lg-5 {
    width: 42%;
  }

}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
