/*
Colors used:
Primary Color (Yellow): #ffee00;
Primary Color (White): #f1f3f3;
Secondary Color (Black): #141616;
*/
* {
  box-sizing: border-box;
}

body {
  background-color: #141616;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #f1f3f3;
}

header {
  background-color: #ffee00;
  text-align: center;
  padding: 10px;
  box-shadow: 0px 2px 15px 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  display: inline-block;
  width: 100%;
}

main {
  padding-top: 175px;
}

footer {
  margin-top: 20px;
}

h1 {
  font-size: 2.75em;
  line-height: 1.2;
  font-weight: 700;
}

h1 span {
  color: #ffee00;
}

h2 {
  font-size: 2em;
  font-weight: 700;
  color: #ffee00;
  margin-bottom: 0px;
}

h2::before {
  content: "";
  clear: both;
  display: table;
}

h3 {
  font-size: 1.25em;
  font-weight: 700;
  color: #ffee00;
}

img {
  width: 100%;
}

#contact {
  padding-top: 30px;
}

#contact h2 {
  margin-top: 0;
}

a,
a:visited {
  color: #141616;
  font-weight: 500;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #14161680;
  text-decoration: none;
}

a:active {
  color: #14161660;
}

.button {
  display: inline-block;
  background-color: #ffee00;
  color: #141616 !important;
  margin-top: 15px;
  font-weight: 300;
  padding: 10px 20px;
  border-radius: 30px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.2s opacity;
}

.button:focus,
.button:hover {
  opacity: 0.8;
}

.button:active {
  opacity: 0.6;
}

.tel,
.tel:visited {
  color: #ffee00;
}

.tel:focus,
.tel:hover {
  color: #ffee0080;
}

.tel:active {
  color: #ffee0060;
}

/* Layout styling */
.logo {
  max-width: 75px;
}

.container {
  padding: 0 15px;
}

.row {
  padding: 25px 0;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#hero h1 {
  margin: 0px;
  padding: 0.67em 0;
}

#hero span {
  display: block;
}

#hero {
  text-align: center;
  background-color: #141616;
}

#work {
  margin-top: 60px;
}

nav {
  display: inline-block;
  width: 100%;
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
}

.social {
  margin-top: 40px;
  padding: 0;
  float: right;
  width: 42%;
}

.social-padding {
  float: right;
  padding: 0;
  margin: 0;
}

.social li {
  display: inline-block;
  list-style-type: none;
  padding-left: 10px;
  padding-right: 0;
  font-size: 30px;
}

.medi-margin {
  margin-top: 20px
}

.copyright {
  margin-top: 42px;
  display: inline-block;
  font-size: 0.75em;
  float: left;
  width: 58%;
}

hr {
  height: 3px;
  background-color: #ffee00;
  margin-top: 0px;
  margin-bottom: 20px;
}

.text-top-margin {
  margin-top: 35px;
}

.fa-linkedin {
  color: #ffee00;
  margin: 0;
  padding: 0;
}

.fa-behance-square {
  color: #ffee00;
}

.berlin-illustration {
  width: 100%;
  max-width: 100%;
  height: auto;
}

@keyframes color-change {
  from {
    fill: #edc655;
  }

  to {
    fill: #f76414;
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 50s cloud-move-reverse infinite alternate linear;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 0;
  }

  nav {
    width: auto;
    float: right;
    margin: 10px 0 0;
  }

  .intro-text {
    width: 58%;
    margin: auto;
  }

  .col-md-6 {
    width: 50%;
    float: left;
    padding-right: 12px;
  }

  .col-md-6-text {
    width: 50%;
    float: right;
    padding-left: 12px;
  }

  .pro-title {
    margin-top: 0px;
  }

  #work {
    margin-top: 100px;
  }


  br {
    display: none;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  main {
    padding-top: 180px;
  }

  .intro-text {
    width: 50%;
    margin: auto;
  }

  .col-lg-7 {
    width: 58%;
  }

  .col-lg-5 {
    width: 42%;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {}
