/*
Colors used:
Primary Color (White): #f1f3f3;
Secondary Color (Black): #141616;
*/

* {
  box-sizing: border-box;
}

body {
  background-color: #141616;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #f1f3f3;
}

header {
  background-color: #141616;
  text-align: center;
  padding: 10px;
  box-shadow: 0px 7px 8px 0px rgba(0, 0, 0, 1);
  position: fixed;
  display: inline-block;
  width: 100%;
}

main {
  padding-top: 250px;
}

h1 {
  font-size: 2.75em;
  line-height: 1.2;
  font-weight: 700;
}

h2 {
  font-size: 1.75em;
  font-weight: 700;
}

h3 {
  font-size: 1.25em;
  font-weight: 700;
}

img {
  width: 100%;
}

a {
  color: #f1f3f3;
  font-weight: 500;
}

a:focus,
a:hover {
  color: #f1f3f380;
}

a:active {
  color: #f1f3f360;
}

.button {
  display: inline-block;
  background-color: #f1f3f3;
  color: #141616;
  font-weight: 300;
  padding: 10px 20px;
  border-radius: 30px;
  text-decoration: none;
  text-transform: uppercase;
}

.button:visited {
  background-color: #f1f3f380;
}

.button:focus,
.button:hover {
  color: #14161680;
}

.button:active {
  background-color: #f1f3f380;
}

.button.contact {
  background-color: #141616;
  color: #f1f3f3;
  font-size: 0.8em;
  padding: 5px 10px;
  border: 1px solid #f1f3f3;
}

.button.contact:visited,
.button.contact:focus,
.button.contact:hover {
  background-color: #f1f3f3;
  color: #141616;
}

.button.contact:active {
  background-color: #f1f3f380;
  color: #141616;
  border: 1px solid #f1f3f380;
}

/* Layout styling */

.logo {
  max-width: 75px;
}

.container {
  padding: 0 15px;
}

.row {
  padding: 25px 0;
}

#hero h1 {
  text-align: center;
  margin: 0px;
  padding: 0.67em 0;
}

#hero {
  background-color: #141616;
}

nav {
  display: inline-block;
  width: 100%;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 10px;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
}

nav > ul > li > a:visited,
nav > ul > li > a:focus,
nav > ul > li > a:hover {
  text-decoration: underline;
}

nav > ul > li > a:active {
  color: #f1f3f380;
}
