/*
Colors used:
Primary Color (White): #f1f3f3;
Secondary Color (Black): #141616;
*/

body {
  background-color: #141616;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #f1f3f3;
}

h1 {
  font-size: 2.75em;
  line-height: 1.2;
  font-weight: 700;
}

h2 {
  font-size: 1.75em;
  font-weight: 700;
}

h3 {
  font-size: 1.25em;
  font-weight: 700;
}
