/*
Colors used:
Primary Color (White): #f1f3f3;
Secondary Color (Black): #141616;
*/

* {
  box-sizing: border-box;
}

body {
  background-color: #141616;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #f1f3f3;
}

header {
  background-color: #000000;
  padding: 10px;
}

h1 {
  font-size: 2.75em;
  line-height: 1.2;
  font-weight: 700;
}

h2 {
  font-size: 1.75em;
  font-weight: 700;
}

h3 {
  font-size: 1.25em;
  font-weight: 700;
}

img {
  width: 100%;
}

a {
  color: #f1f3f3;
  font-weight: 500;
}

a:focus,
a:hover {
  color: #f1f3f380;
}

a:active {
  color: #f1f3f360;
}

.button {
  display: inline-block;
  background-color: #f1f3f3;
  color: #141616;
  font-weight: 300;
  padding: 10px 20px;
  border-radius: 30px;
  text-decoration: none;
  text-transform: uppercase;
}

.button:focus,
.button:hover {
  color: #14161680;
}

.button:active {
  background-color: #f1f3f380;
}

.button.contact {
  background-color: #141616;
  color: #f1f3f3;
  font-size: 0.8em;
  padding: 5px 10px;
  border: 1px solid #f1f3f3;
}

.button.contact:focus,
.button.contact:hover {
  background-color: #f1f3f3;
  color: #141616;
}

.button.contact:active {
  background-color: #f1f3f380;
  color: #141616;
  border: 1px solid #f1f3f380;
}

/* Layout styling */

.container {
  padding: 0 15px;
}
